<div>
    <h1>Concours Kikolé d'Octobre !</h1>
    <h2>Présentation</h2>
    <p>Le mois d'Octobre sera l'occasion d'un concours avec des lots à gagner, en fonction du classement final le 01/11 à minuit.</p>
    <p>Les lots sont des <a href="https://store.steampowered.com/digitalgiftcards/selectgiftcard?l=french" target="_blank">cartes cadeaux Steam</a>, des valeurs suivantes :</p>
    <ul>
        <li><span style="color: red; font-size: large">25€</span> pour la 1ère place.</li>
        <li><span style="color: red; font-size: large">10€</span> pour la 2nde place.</li>
        <li><span style="color: red; font-size: large">5€</span> pour la 3ème place.</li>
        <li><span style="color: red; font-size: large">10€</span> pour celui/celle qui aura trouvé le + de fois le kikolé le 1er.</li>
    </ul>
    <p>En cas d'égalité, la meilleure moyenne de temps sur le mois départagera les deux joueurs.</p>
    <p>Ces montants sont à minima ; je me réserve le droit d'augmenter les enjeux.</p>
    <p>Si une personne est en position de gagner 2 lots, elle ne gagnera que celui à la plus haute valeur. Le 2nd lot sera attribué en suivant le classement.</p>
    <h2>Inscription et déroulement</h2>
    <h3>Avant et pendant le mois</h3>
    <p>Si vous avez déjà un compte qui fonctionne, rien ne change vous pouvez jouer normalement.</p>
    <p>Pour les nouveaux, l'inscription n'est plus libre. Il faut procéder comme ceci :</p>
    <ul>
        <li>Vous connaissez un joueur qui joue déjà à "Kikolé" ? Demandez lui un code (qui correspond en gros à une invitation).</li>
        <li>Sinon, contactez moi sur l'adresse admin[arobase]kikole.com en vous présentant un minimum (notamment comment vous avez connu le jeu) pour que je vous fournisse un code.</li>
    </ul>
    <p>Le code d'inscription est à fournir sur la page "Compte" en même temps que votre login / mot de passe.</p>
    <p>Les joueurs actifs peuvent me demander des codes d'invitation quand ils le souhaitent ; l'administrateur se réserve toutefois le droit de refuser.</p>
    <p>Enfin, il est tout à fait possible de s'inscrire, et donc de commencer le concours, en milieu de mois.</p>
    <h3>A la remise des lots</h3>
    <p>Au 1er Novembre, je contacterai les vainqueurs si j'ai leur contact, sinon il faudra me contacter par l'intermédiaire du <a href="/Home/Contact"><span style="color: red">formulaire de contact du site</span></a>.</p>
    <p>Ce dernier point est très important : le formulaire obligeant à être connecté, cela me permet d'associer votre message à votre compte (et éviter ainsi de se faire passer pour un autre joueur).</p>
    <p>Lors de la prise de contact, il faudra bien entendu me donner votre identifiant Steam.</p>
    <h2>Informations complémentaires</h2>
    <p>La liste qui suit peut s'allonger d'ici le 1 octobre :</p>
    <ul>
        <li>Pendant le concours, les soumissions de joueur seront suspendues (il sera toujours possible d'en faire mais elles ne seront validées qu'en novembre).</li>
        <li>Les réclamations seront traitées uniquement si un nombre conséquent (et arbitraire) de personnes se plaignent.</li>
        <li>En cas de réclamation valide, un montant forfaitaire de +25% du score sera attribué (soit par exemple 750 pour un score initial de 600 points).</li>
        <li>En cas d'incident majeur sur le site (plus de 6 heures d'indisponibilité), la journée sera annulée pour tout le monde.</li>
        <li><span style="color: red; font-size: large">Important !</span> Toute situation non prévue ici sera gérée à la discrétion de l'administrateur.</li>
    </ul>
</div>
