@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ErrorModel

<h1 class="text-danger">@localizer["ErrorTitle"]</h1>
<h2 class="text-danger">@localizer["ErrorMessage"]</h2>
<a href="/Home">@localizer["BackToHome"]</a>