@model KikoleSite.Elite.ViewDatas.BaseViewData

<html class=" byzbljr idc0_332">
<head>
    <title>The GoldenEye World Records and Rankings - The Elite Rankings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://rankings.the-elite.net/css/base.1660596885.css" type="text/css" rel="stylesheet">
    <link href="https://rankings.the-elite.net/css/users.1661119715.css" type="text/css" rel="stylesheet">
    <link href="https://rankings.the-elite.net/css/flag-icons.1651644675.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="page" class="with-sidebar">
            <div id="content">
                <h1>@Model.Title</h1>
                @await Html.PartialAsync(Model.Name, Model.Data).ConfigureAwait(false)
            </div>
        </div>
    </div>
</body>
</html>
