@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<button type="button" class="collapsible">@localizer["PlayersDistributionTitle"]</button>
<div class="collapsiblecontent" style="display: none">
    <div id="playerDistributionCountryChart"></div>
    <div id="playerDistributionPositionChart"></div>
    <div id="playerDistributionDecadeChart"></div>
    <div id="playerDistributionClubChart"></div>
</div>

<button type="button" class="collapsible">@localizer["ActiveUsersTitle"]</button>
<div class="collapsiblecontent" style="display: none">
    <div id="dayActiveUsersChart"></div>
    <div id="weekActiveUsersChart"></div>
    <div id="monthActiveUsersChart"></div>
</div>

<div style="display: none" id="googleChartEnabler"></div>