@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<h3>@localizer["AdminActions"]</h3>
<form method="post" action="/Admin/Actions">
    <div>
        <input type="submit" value="@localizer["RecomputeBadges"]" name="submit-recomputebadges" />
    </div>
    <div style="margin-top: 5px">
        <input type="submit" value="@localizer["RecomputeLeaders"]" name="submit-recomputeleaders" />
    </div>
    <div style="margin-top: 5px">
        <input type="submit" value="@localizer["ReassignPlayers"]" name="submit-reassignplayers" />
    </div>
</form>